/* TODO Add site wide styles */
body{
    background-color: #d5d2ce;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

*{
    font-family: Roboto,
        open sans,
        lato;
}

.input__label{
    font-weight: 700;
    /* border: red 1px solid; */
}

.input__error{
    color: rgb(212, 9, 9);
    font-weight: 600;
    height: 15px;
    margin: 5px 0px;
}

@media screen and (max-width: 1200px) {
    .test__image {
        /* border: 4px blue solid; */
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .svg__logo__git {
        display: none;
    }

    .svg__logo__linked {
        display: none;
    }

    .products__display__container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}
