.main__login__form__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 300px;
    height: 300px;
}

.login__form{
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   width: 250px;
}

.login__email__input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.login__password__input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
}

.login__form__buttons{
    border: #000000 2px solid;
    background-color: #504f4f;
    color: white;
    padding: 5px;
    width: 80px;
    height: 30px;
    margin-top: 25px;
    margin-left: 85px;
    cursor: pointer;
    transition: .5s;
}

.demo__form__buttons{
    border: #000000 2px solid;
    background-color: #504f4f;
    color: white;
    padding: 5px;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    cursor: pointer;
    transition: .5s;

}
