.product__cart__image {
    max-width: 80px;
}

.order__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main__order__items__container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 600px;
    overflow-y: scroll;
    /* add webkit to hide scroll later */
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, .6);
}

.empty__order__items__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 600px;
    overflow-y: scroll;
    /* add webkit to hide scroll later */
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, .6);
}

.order__description{
width: 385px;
}

.order__price__details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8px ;
    /* border: #af0d0d 1px solid; */
}

.clear__cart__container{
    margin-left: 8px;
}

/* Cart__Product__Carts */

.main__order__header__container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
}

.cart__product__container{
    border-bottom: 2px solid rgba(104, 104, 104, 0.6);
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding-bottom: 5px;
}

.product__cart__description{
    width: 450px;
}

.cart__total__price {
    font-size: 23px;
    margin-top: 4px;
    font-weight: 600;
}

.black__line{
    width: 170px;
    height: 2px;
    background-color: black;
}

.remove__cart__item__button {
    height: 30px;
    width: 100px;
    background-color: transparent;
    color: #af0d0d;
    border: none;
    transition: .5s;
}


.cart__product__input{
    width: 25px;
}

.remove__cart__item__button:hover {
    color: #af0d0d;
    cursor: pointer;
}

.plus__minus__buttons {
    background-color: transparent;
    border: none;
}

.plus__minus__buttons:hover {
    cursor: pointer;
}

.cart__qty__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.proceed__checkout__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 170px;
    height: 40px;
    color: rgb(46, 44, 44);
    font-weight: 700;
    background-color: #eccc11;
    border: black 2px solid;
    transition: .5s;
    text-decoration: none;
}

.proceed__checkout__button:hover {

    background-color: #ffd900;
    cursor: pointer;

}

.clear__cart__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 170px;
    height: 40px;
    color: rgb(233, 227, 227);
    font-weight: 700;
    background-color: #be1e1e;
    border: black 2px solid;
    transition: .5s;
    text-decoration: none;
}

.clear__cart__button:hover {

    background-color: #e70101;
    cursor: pointer;

}

.checkout__container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-right: 5px;
}

/* Cart__Order__Form */

.order__inputs__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .6);
    background-color: #f0f4f5;
    width: 700px;
    margin: 10px;
}

.order__inputs{
    height: 25px;
    background-color: rgb(222, 227, 236);
    border: .5px solid rgba(0, 0, 0, .6);
}

.row__input__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 3px solid rgb(15, 134, 75); */

}

.sub__input__container{
    display: flex;
    flex-direction: column;
    width: 275px;
    margin:5px;
    margin-right: 5px;
    margin-left: 5px;
}

.address__input__container{
    width:565px;
}

.order__select__input {
    height: 30px;
    background-color: rgb(222, 227, 236);
}
