/* Cart__Product__Carts */
.co__order__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.co__order__items__container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    overflow-y: scroll;
    /* add webkit to hide scroll later */
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, .6);
}
.co__order__header__container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
}

.cart__product__container {
    border-bottom: 2px solid rgba(104, 104, 104, 0.6);
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding-bottom: 5px;
}

.co__product__cart__description {
    width: 200px;
}

.cart__total__price {
    font-size: 23px;
    margin-top: 4px;
    font-weight: 600;
}

.black__line {
    width: 170px;
    height: 2px;
    background-color: black;
}


/* ========================================================================= */
/* Cart__Order__Form */

.order__inputs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .6);
    background-color: #f0f4f5;
    width: 600px;
    margin: 10px;
    /* padding: 10px; */
}

.order__inputs {
    height: 25px;
    background-color: rgb(222, 227, 236);
    border: .5px solid rgba(0, 0, 0, .6);
}

.row__input__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub__input__container {
    display: flex;
    flex-direction: column;
    width: 275px;
    margin: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.address__input__container {
    width: 565px;
}

.order__select__input {
    height: 30px;
    background-color: rgb(222, 227, 236);
}

.confirm__order__button {
    border: #000000 2px solid;
    background-color: #504f4f;
    color: white;
    padding: 5px;
    width: 120px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s;
}

.confirm__order__button:hover{
    color: gold;
    background-color: #1d1e1f;
}

.confirm__edit__order__button{
    border: #000000 2px solid;
    background-color: #504f4f;
    color: white;
    padding: 5px;
    width: 120px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s;
}

.confirm__edit__order__button:hover{
    color: gold;
    background-color: #1d1e1f;
}

.edit__order__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
