.nav__bar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background-color: #333333;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav__link__container__right {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 100px;
    height: 100%;
}

.logo {
    width: auto;
    height: 60px;
}

.nav__link__container__left {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin-left: 50px;
    padding: none;
}

.nav__link {
    color: white;
    text-decoration: none;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 100%;
    padding: 0px 5px;
}

.nav__link:hover{
    cursor: pointer;
    color: gold;
    background-color: #1d1e1f;

}
.nav__link__dropdown{
    color: #000000;
    text-decoration: none;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link__dropdown:hover{
    color: #dbdce1;
    background-color: #4A4E69;
    cursor: pointer;
}


.shop__product__link{
    color: white;
    text-decoration: none;
}

.avatar__image{
    width: 45px;
    height: 45px;
    border-radius: 30px;
    object-fit: cover;
}

.drop__down__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 120px;
    cursor: pointer;
    color: white;
}

.drop__down__button:hover{
    color: gold;
}

.drop__down__container {
    border-left: 2px rgb(0, 0, 0) solid;
    border-bottom: 2px rgb(0, 0, 0) solid;
    border-right: 2px rgb(0, 0, 0) solid;
    width: 130px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #dbdce1;
    top: 85px;
    right: 80px;

}
