.nav__bar__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    /* justify-content: flex-end; */
    /* border: 3px red solid; */
    /* background-color: #BF4342; */
    background-color: #333333;
    position: sticky;
    top: 0;
    width: 100%;
}

.nav__link__container__right {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* border: 3px rgb(36, 145, 94) solid; */
}

.shop__product__link{
    color: white;
    text-decoration: none;
}

.nav__link__container__left {
    display: flex;
    text-decoration: none;
    /* border: 3px rgb(36, 145, 94) solid; */
}

.nav__link {
    color: white;
    /* border: 3px rgb(214, 29, 29) solid; */
    text-decoration: none;
    margin-left: 10px;
}

.nav__link__dropdown{
    color: #000000;
    text-decoration: none;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    /* padding: 10px; */
}

.nav__link__dropdown:hover{
    color: #dbdce1;
    background-color: #4A4E69;
    cursor: pointer;


}

.nav__button {
    border: #000000 2px solid;
    background-color: #4b5cac;
    color: white;
    padding: 5px;
    width: 80px;
    height: 30px;
    margin-left: 10px;

}

.add__product__button {
    border: #000000 2px solid;
    background-color: #4b5cac;
    color: white;
    padding: 5px;
    width: 80px;
    height: 30px;
    margin-left: 10px;
}

.avatar__container{
    display: flex;
    margin: 20px;
}

.avatar__image{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid black;
    object-fit: cover;
}

.drop__down__button{
    /* border: 2px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
}

.drop__down__container {
    border-left: 2px rgb(0, 0, 0) solid;
    border-bottom: 2px rgb(0, 0, 0) solid;
    border-right: 2px rgb(0, 0, 0) solid;
    width: 140px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 15px; */
    position: absolute;
    background-color: #dbdce1;
    /* right: 3.3rem; */
    top: 78px;
    right: 460px;
}

.logo {
    width: auto;
    height: 60px;
}
