.search__bar__container{
    width: 900px;
    display: flex;
    height: 30px;
    margin-left: 200px;
}

.search__bar__container:focus{
    border: 3px solid red;
    outline: red;
}

.search__bar__input{
    width: 900px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
}

.search__bar__input:focus .search__bar__container{
    border: 3px solid red;
    /* outline: red;  */
}

.magnifying__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    width: 30px;
    border-radius: 5px;
}

.search__results__dropdown{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 58px;
    background-color: white;
    width: 900px;
    border: 1px solid ;
    border-radius: 3px;
    /* padding: 5px; */
    box-shadow: 4px 4px 10px 1px rgba(47, 47, 62, 0.2), -4px 0px 10px 1px rgba(47, 47, 62, 0.2);
}

.search__result__link{
    text-decoration: none;
    width: 95%;
    color: black;
    padding: 5px 10px;
    margin: 0px 0px;
    border-radius: 7px;

    /* border: 3px blue solid; */
}

.search__result__link:hover{
    /* padding: 5px 4px; */
    background-color: rgba(231, 231, 231, 0.799);
    font-weight: 600;
}
