.products__main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products__display__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
    text-decoration: none;
    column-gap: 50px;
    row-gap: 50px;
    /* width: 1600px; */
}

.all__products__image__container{
    display: flex;
    justify-content: center;
    /* height: 70%; */
}

.product__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin: 20px; */
    text-decoration: none;
    /* background-color:#cac6c2; */
    border-radius: 5px;
    border: 2px solid rgb(42, 54, 61);
    width: 400px;
    height: 400px;
    text-decoration: none;
    /* padding: 3px; */
    transition: .5s;
}

.product__card:hover{
    background-color: #cac6c2;
    border: 2px solid #0f496a;

}

.product__image {
    border-radius: 25px;
    /* border: 5px solid pink */
    width: 300px;
    height: 300px;
    object-fit: scale-down;
    padding: 5px 0px;
}

.product__name {
    color: brown;
    font-size: 25px;
    font-weight: 600;
}

.product__price__cart__container{
    display: flex;
}

.product__price {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(37, 59, 120);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 160px;
}

.product__link__to__single{
    text-decoration: none;
    margin-bottom: 0;
    border-radius: 1px red solid;
}

.products__display__reviews{
    margin-bottom: 5px;
}
