.products__main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    padding: 50px;
}
.products__display__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    text-decoration: none;
    column-gap: 3px;
    row-gap: 5px;
    padding: 10px;
    /* width: 100%; */
}

.all__products__image__container{
    display: flex;
    justify-content: center;
}

.product__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    width: 250px;
    height: 240px;
    text-decoration: none;
    transition: .5s;
    padding: 5px;
}

.products__heading{
    font-size: 40px;
    font-weight: 600;
}

.product__card:hover{
    background-color: #cac6c2;
    /* border: 2px solid #0f496a; */
}

.product__card__add__button{
    opacity: 0;
    background: none;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 600;
    color: #2e2c2c;
    background-color: #eccc11;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    cursor: pointer;
    transition: .3s;
}

.product__button__container{
    position: relative;
    left: 90px;
    top: -20px;
}
.product__card__add__button:hover{
    background-color: #ceb216;
}

.product__card:hover .product__card__add__button {
    opacity: 1;
}

.product__card__disabled__cart__button {
    background: none;
    /* border: 4px red solid; */
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 600;
    color: #2e2c2c;
    background-color: #d8cc8a;
    width: 60px;
    height: 50px;
}

.product__card:hover .product__card__disabled__cart__button{
    opacity: 1;
}

.product__image {
    border-radius: 25px;
    /* border: 5px solid pink */
    width: 200px;
    height: 160px;
    object-fit: scale-down;
    padding: 5px 0px;
}

.product__name {
    display: flex;
    justify-content: center;
    color: #212f56;
    font-size: 15px;
    /* font-weight: 600; */
}

.product__price__cart__container{
    display: flex;
}

.product__price {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #212f56;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 160px;
}

.product__link__to__single{
    text-decoration: none;
    margin-bottom: 0;
    border-radius: 1px red solid;
}

.products__display__reviews{
    margin-bottom: 5px;
}

.all__products__stars{
    display: inline-block;
    font-size: 15px;
    font-family: Times;
    line-height: 1;
    justify-content: center;
}


.all__products__stars::before {
    --percent: calc(var(--ratingValue) / 5 * 100%);

    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg,
            #38488c var(--percent),
            #919191 var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}
