.loading__gif {
    width: 400px;
    height: 400px;

}

.product__modal__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 0px 5px;
}


.new__product__form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product__form__input{
    margin-bottom: 10px;
    width: 220px;
}

.product__form__input__select{
    width: 400px;
    margin-bottom: 10px;
}

.submit__product__button {
    border: #000000 2px solid;
    background-color: #504f4f;
    color: white;
    padding: 5px;
    width: 80px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s;
}

.submit__product__button:hover {
    color: gold;
    background-color: #1d1e1f;
}

.product__image__button {
    border: #000000 2px solid;
    background-color: #504f4f;
    color: white;
    padding: 5px;
    width: 120px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .5s;
}

.product__image__button:hover{
    color: gold;
    background-color: #1d1e1f;
}

.image__input__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
