.stars {
    display: inline-block;
    font-size: 26px;
    font-family: Times;
    line-height: 1;
    justify-content: center;
}

.stars::before {
    --percent: calc(var(--ratingValue) / 5 * 100%);
    /* content: url("./pokeball.png")url("./pokeball.png")url("./pokeball.png")url("./pokeball.png"); */

    content: "★★★★★";
    /* content: "🍽🍽🍽🍽🍽"; */
    letter-spacing: 3px;
    background: linear-gradient(90deg,
            #e0730d var(--percent),
            #abb1d8 var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}


.product__detail__container{
    border: pink solid 10px;
    display: flex;
    justify-content: center;

}

.product__review__container{
    border: #e0730d 4px solid;
    width: 700px;
    height: 600px;
    overflow-y: scroll;
    background-color: #abb1d8;
}


.product__review__card {
    border: red 4px solid;
    /* background-color: rgb(55, 134, 252); */
}

.single__product__image {
    width: 400px;
    height: 500px;
    border: #e0730d 4px solid;
    margin-right: 80px;
}

.single__product__title {
    font-size: 30px;
    font-weight: 600;
}
