.stars {
    display: inline-block;
    font-size: 26px;
    font-family: Times;
    line-height: 1;
    justify-content: center;
}

.stars::before {
    --percent: calc(var(--ratingValue) / 5 * 100%);
    /* content: url("./pokeball.png")url("./pokeball.png")url("./pokeball.png")url("./pokeball.png"); */

    content: "★★★★★";
    /* content: "🍽🍽🍽🍽🍽"; */
    letter-spacing: 3px;
    background: linear-gradient(90deg,
            #e0730d var(--percent),
            #abb1d8 var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}
