.stars {
    display: inline-block;
    font-size: 26px;
    font-family: Times;
    line-height: 1;
    justify-content: center;
}

.stars::before {
    --percent: calc(var(--ratingValue) / 5 * 100%);

    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg,
            #e0730d var(--percent),
            #6a6c79 var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.main__reviews__container{
    display: flex;
    justify-content: center;
}

.review__form__container{
    display: flex;
    justify-content: center;
    border: red 1px solid;
}

.product__detail__container{
    border: pink solid 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.product__review__container{
    border: #e0730d 4px solid;
    width: 700px;
    height: 600px;
    overflow-y: scroll;
    background-color: #abb1d8;
}


.product__review__card {
    border: red 4px solid;
    /* background-color: rgb(55, 134, 252); */
}

.single__product__image {
    width: 400px;
    height: 400px;
    border: #e0730d 4px solid;
    margin-right: 80px;
}

.single__product__title {
    font-size: 30px;
    font-weight: 600;
    border: yellowgreen 3px solid;
    width: 400px;
}

.add__cart__button{
    background: none;
    border: 4px red solid;
    width: 160px;
    height: 50px;
}

.add__cart__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 125px; */
}

.single__product__description{
    height: 300px;
    width: 400px;
    border: 3px red solid;
}

.single__product__price{
    font-size: 30px;
    font-weight: 600;
    color: rgb(24, 86, 179);
}

.added__cart__message{
    border-radius: 3px;
    border: 2px black solid;
    color: white;
    background-color: #757eb6;
    /* animation: fade-in 1s; */
    animation: fade-out 2s;
    padding: 5px;
}

/* @keyframes fade-out {
    0% {opacity: 1}
    50% {opacity: .5}
    100% {opacity: 0}
} */

@keyframes fade-out {
    0% {opacity:1}
    50% {opacity: 1}
    100% {opacity: 0}
}
