.my__products__display__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-decoration: none;
    column-gap: 50px;
    row-gap: 50px;
    margin: 20px;
}

.my__product__image{
    width: 300px;
    height: 250px;
    object-fit: scale-down;
    margin: none;
}

.my__product__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: red 1px solid; */
}
