.my__products__display__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-decoration: none;
    column-gap: 50px;
    row-gap: 0px;
    margin: 20px;
    border: solid 2px black;
    border-radius: 10px;
    width: 1000px;
    /* padding: 10px; */
}


.my__product__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:inherit;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    transition: .5s;
    border-radius: 5px;
}

.my__product__card:hover {
    background-color: #c9c9c9cf;
}

.my__product__details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.my__product__image{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 15px;
    border-radius: 10px;
    /* border: solid 2px black; */

}

.my__product__name__image__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.my__product__description{
    margin-right: 10em;
    width: 400px;
    text-decoration: none;
}

.my__product__button__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: red 1px solid; */
    position: relative;
    top: -235px;
    right: -940px;
    opacity: 0;
}

.my__product__card:hover .my__product__button__container {
    opacity: 1;
}

.my__product__button {
    background: none;
    border: none;
    transition: .5s;
}

.extra {
    font-size: 15px;
}

.my__product__button:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
